@using Mindr.WebUI.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@namespace Mindr.WebUI.Shared
@inherits FluentComponentBase

<div id="viewport-toggle-anchor">
    <Stack 
        id="toggle-anchor-anchor2" 
        aria-expanded="@VisibleMenu" 
        aria-haspopup="true" 
        @onclick="ToggleMenu"
        @ref="stack" 
        Width="auto" 
        Orientation="Orientation.Horizontal" 
        VerticalAlignment="StackVerticalAlignment.Center"
        HorizontalAlignment="StackHorizontalAlignment.Left"
        HorizontalGap="0"
        VerticalGap="0"
        Style="margin:4px;cursor:pointer;"
    >
        <AuthorizeView>
            <Authorized>
                <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" height="30px" />
                <div style="margin-left:5px;margin-right:5px">
                    <div>@context.User.Identity?.Name</div>
                </div>
            </Authorized>
            <NotAuthorized>
                <FluentButton @onclick="Login">
                    Log in
                </FluentButton>
            </NotAuthorized>
        </AuthorizeView>
    </Stack>
    <FluentAnchoredRegion id="toggle-anchor-region" Anchor="toggle-anchor-anchor2" Viewport="viewport-toggle-anchor"
        Style=@("z-index:1;position: absolute;visibility:" + (VisibleMenu ? "visible" : "hidden") + ";right: 4px;")>

        <AuthorizeView>
            <Authorized>
                <FluentMenu id="profile-menu" aria-labelledby="stack">
                    <FluentMenuItem>Set Status</FluentMenuItem>
                    <FluentMenuItem>Profile</FluentMenuItem>
                    <FluentMenuItem>Feedback</FluentMenuItem>
                    <Devider />
                    <FluentMenuItem>Settings</FluentMenuItem>
                    <FluentMenuItem @onclick="Logout">
                        Log out
                    </FluentMenuItem>
                </FluentMenu>
            </Authorized>
        </AuthorizeView>
    </FluentAnchoredRegion>
</div>

