

@namespace Mindr.WebUI.Shared

<footer>
    <div class="version">
        <small>
            Version: 1.0.0
            &nbsp;-&nbsp;
        </small>
    </div>
    <div class="copy">
        <small>Dutchgrit © @(DateTime.Now.Year.ToString()). All rights reserved.</small>
    </div>
</footer>