




.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.seperator {
    height: 20px;
    width: 1px;
    background: gray;
    /*    margin: 5px;*/
}
/*

::deep > .step-card {
    border-fill: none;
    cursor: pointer;
}

::deep > .step-card :hover {
    border-color: black;
}
*/

::deep > fluent-dialog::part(control) {
    --dialog-width: 300px;
    --dialog-height: 350px;
    padding: 2rem;
}

::deep .editable-stack {
    margin-bottom: 10px;
    border-bottom: 1px solid #00000026;
}

::deep > fluent-badge {
    --badge-fill-highlight: #009105;
    --badge-fill-lowlight: #df0000;
    --badge-color-highlight: #000;
    --badge-color-lowlight: #fff;
    font-weight: bold;
    color: white;
    margin: 3px;
}


/*box-shadow: 0px 0px 1px 1px #1c7dce;*/
