
.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.seperator {
    height: 20px;
    width: 1px;
    background: gray;
    margin: 5px;
}
/*

::deep > .step-card {
    border-color: none;
    cursor: pointer;
}

::deep > .step-card :hover {
    border-color: black;
}
*/

