@page "/"

@using Microsoft.AspNetCore.Authorization;

@inherits FluentComponentBase
@attribute [Authorize]

<PageTitle>Index</PageTitle>


<div style="height: 434px; overflow-y:auto;" tabindex="-1">
    INDEX PAGE
</div>