@page "/"

@using Microsoft.AspNetCore.Authorization;

@inherits FluentComponentBase
@attribute [Authorize]

<PageTitle>Outlook</PageTitle>

<div id="main" class="container-fluid">

</div>

@code{

}
