@namespace Mindr.WebAssembly.Client.Pages.Calendar.Components
@using Mindr.WebAssembly.Client.Pages.Calendar.Extensions;

<div class="day @Classes.AsString()" @onmousedown="OnMouseDown" data-date="@Day.Date.ToString("yyyyMMdd")">
    @if (Scheduler.DayTemplate != null)
    {
        @Scheduler.DayTemplate(Day)
    }
    else
    {
        <span style="background-color: @Color;">@DateText</span>
    }
</div>