@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Mindr.WebAssembly.Client.Shared;
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        
                        <RedirectToLogin />
                        @*<RemoteAuthenticatorView Action=@($"login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}") />*@
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>