
::deep main {
    display: flex;
    background-color: var(--neutral-layer-floating);
    color: var(--neutral-foreground-rest);
}

::deep .nav-menu {
    border-right: 1px solid #00000026;
    background-color: var(--neutral-layer-1);
}
/*
::deep .child-stack {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}*/

    ::deep .child-stack fluent-data-grid {
        width: -webkit-fill-available;
    }

#page-container {
    position: relative;
    height: 100%;
}

::deep #content-wrap {
    min-height: calc(100% - (39px + 41px));
}
