@using Mindr.Core.Models.Connector;
@using Mindr.WebUI.Components.Connector;
@inherits FluentComponentBase

<div style="width: -webkit-fill-available;">
    @Date.ToShortDateString() Events
    @if (Data?.Any() == true)
    {
        foreach (var item in Data)
        {
            <AgendaEventItem Data="@item" HookDialogRef="@_connectorHookDialog"/>
        }
    }
</div>
<ConnectorHookDialog @ref="@_connectorHookDialog" OnChanged="OnChanged"/>
