::deep > fluent-button + fluent-menu {
    display: none;
}

::deep > fluent-menu.visible {
    display: block;
    width: fit-content;
}

/* Empty border */
hr.empty {
    border-top: 0px solid;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted;
}

/* Solid border */
hr.solid {
    border-top: 3px solid;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid;
    border-radius: 5px;
}